<body>
  <figure class="cd-image-container">
    <%= image_tag 'web-1940.jpg', alt: 'New', usemap: '#map-1942' %>
    <span class="cd-image-label" data-type="original">1940-ві рр</span>

    <div class="cd-resize-img" usemap="#map-1782">
      <%= image_tag 'web-1782.jpg', alt: 'Old', usemap: '#map-1782' %>
      <span class="cd-image-label" data-type="modified">1782 р</span>
      <map name="map-1782">
        <%= tag :area, shape: :poly, coords: '66, 232, 69, 59, 83, 40, 387, 44, 408, 61, 404, 217, 387, 238, 255, 235, 248, 230, 239, 235', title: "ЭКСПЛИКАЦИЯ ЛИТЕР ВНУТРИ КРЕПОСТНЫХ СТРОЕНИЙ\nA | Изюмской крепости крепостное укрепление\nB |Соборная каменная церковь Преображения Господня\nC | Церковь Покровы Пресвятой Богородицы\nD | Колокольни при церквах\nE | Мост деревянный вновь построенный в Московских воротах\nF | Мост деревянный вновь построенный в Крымских воротах\nG | При воротах кардегардия&\nH | Вновь построенная при Московских воротах кардегардия\nI | Инженерный цейхгауз\nK | Артиллерийский цейхгауз\nL | Пороховой погреб\nM | Провиантские магазины\nN | Комендантская канцелярия\nO | Изюмский уездный суд и его караульни\nP | Погреб где полагается от уездного суда денежная казна\nQ | Дом соборныя церкви\nR Амбары для ??? соли\nS | Торговыя лавки\nT | Обывательское строение\nЗА КРЕПОСТЬЮ\nU | Старый ретраншемент\nV | Обывательское строение" %>
        <%= tag :area, title: 'Преображенський собор', shape: :poly, coords: '763, 512, 766, 510, 769, 509, 773, 510, 774, 507, 776, 504, 783, 505, 786, 507, 785, 511, 790, 511, 793, 514, 793, 522, 789, 525, 783, 526, 782, 529, 779, 532, 773, 531, 770, 528, 771, 523, 765, 523, 762, 520' %>
        <%= tag :area, title: 'Покровська церква', shape: :poly, coords: '612, 450, 613, 447, 607, 447, 605, 445, 604, 438, 609, 436, 613, 435, 612, 433, 619, 434, 619, 437, 624, 437, 625, 439, 631, 439, 631, 441, 635, 441, 635, 445, 631, 445, 624, 449, 619, 448, 619, 451' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '249, 394, 368, 372, 370, 416, 365, 427, 259, 432' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '260,433,364,427,368,467,273,498' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '349,541,348,475,370,469,364,426,371,418,368,375,386,370,400,442,399,527' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '296,554,348,541,347,474,273,497' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '324,633,403,623,400,528,298,556' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '358,630,361,676,406,672,403,626' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '357,630,325,636,358,730,407,720,406,675,361,679' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '432, 382, 445, 339, 488, 298, 591, 281, 593, 285, 677, 271, 690, 370, 591, 383' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '409, 578, 408, 485, 437, 485, 439, 445, 496, 460, 478, 579' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '496, 568, 523, 466, 598, 487, 582, 563' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '608, 550, 632, 484, 684, 433, 701, 427, 716, 428, 703, 488, 699, 489, 691, 533' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '415, 721, 413, 657, 484, 653, 482, 719' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '491, 721, 500, 584, 574, 599, 561, 723' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '490, 752, 491, 729, 561, 731, 558, 754' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '593, 752, 593, 713, 715, 713, 717, 754' %>
        <%= tag :area, title: 'Торговыя лавки', shape: :poly, coords: '592, 631, 595, 608, 603, 608, 602, 630' %>
        <%= tag :area, title: 'Торговыя лавки', shape: :poly, coords: '585, 694, 591, 650, 599, 649, 595, 686, 638, 688, 638, 696' %>
        <%= tag :area, title: 'Торговыя лавки', shape: :poly, coords: '644, 695, 644, 687, 660, 689, 659, 695' %>
        <%= tag :area, title: 'Колокольни при церквах', shape: :poly, coords: '769, 567, 768, 565, 767, 556, 776, 558, 776, 565, 774, 567' %>
        <%= tag :area, title: 'Колокольни при церквах', shape: :poly, coords: '651, 447, 651, 437, 660, 437, 659, 447' %>
        <%= tag :area, title: 'Дом при соборныя церкви', shape: :poly, coords: '778, 604, 778, 588, 788, 588, 789, 603' %>
        <%= tag :area, title: 'Амбары для ??? соли', shape: :poly, coords: '771, 755, 776, 666, 785, 665, 779, 755' %>
        <%= tag :area, title: 'Погреб где полагается от уездного суда денежная казна', shape: :poly, coords: '755, 391, 756, 379, 754, 378, 754, 371, 763, 371, 763, 379, 760, 378, 760, 391' %>
        <%= tag :area, title: 'Изюмский уездный суд и его караульни', shape: :poly, coords: '815, 400, 814, 386, 821, 385, 820, 389, 832, 389, 831, 383, 840, 383, 841, 397' %>
        <%= tag :area, title: 'Изюмский уездный суд и его караульни', shape: :poly, coords: '855, 423, 855, 416, 869, 416, 869, 423' %>
        <%= tag :area, title: 'Изюмский уездный суд и его караульни', shape: :poly, coords: '879, 411, 879, 393, 888, 393, 888, 412' %>
        <%= tag :area, title: 'Мост деревянный вновь построенный в Московских воротах', shape: :poly, coords: '558, 797, 558, 769, 567, 770, 567, 797' %>
        <%= tag :area, title: 'Вновь построенная при Московских воротах кардегардия', shape: :poly, coords: '574, 764, 573, 756, 590, 756, 589, 766' %>
        <%= tag :area, title: 'При воротах кардегардия', shape: :poly, coords: '550, 766, 551, 755, 558, 755, 558, 766' %>
        <%= tag :area, title: 'Мост деревянный вновь построенный в Крымских воротах', shape: :poly, coords: '817, 247, 817, 215, 823, 215, 823, 247' %>
        <%= tag :area, title: 'При воротах кардегардия', shape: :poly, coords: '830, 283, 829, 270, 838, 270, 837, 283' %>
        <%= tag :area, title: 'Комендантская канцелярия', shape: :poly, coords: '795, 278, 796, 271, 811, 270, 812, 277' %>
        <%= tag :area, title: 'Инженерный цейхгауз', shape: :poly, coords: '912, 508, 912, 500, 923, 501, 923, 510' %>
        <%= tag :area, title: 'При воротах кардегардия', shape: :poly, coords: '907, 565, 908, 558, 921, 558, 921, 565' %>
        <%= tag :area, title: 'Артиллерийский цейхгауз', shape: :poly, coords: '895, 720, 896, 710, 917, 710, 917, 720' %>
        <%= tag :area, title: 'Пороховой погреб', shape: :poly, coords: '892, 669, 891, 660, 898, 661, 898, 664, 905, 664, 905, 667, 899, 668, 898, 671' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1003, 559, 1003, 551, 1023, 552, 1022, 561' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1002, 585, 1002, 574, 1023, 574, 1021, 586' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1000, 609, 1002, 600, 1021, 600, 1019, 609' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1000, 641, 999, 631, 1018, 633, 1019, 642' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1034, 571, 1035, 562, 1054, 562, 1055, 572' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1033, 592, 1034, 581, 1055, 582, 1055, 594' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1030, 611, 1031, 601, 1052, 602, 1052, 612' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1029, 638, 1028, 627, 1051, 629, 1050, 639' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1028, 656, 1028, 644, 1051, 645, 1049, 656' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1067, 564, 1067, 554, 1085, 555, 1086, 563' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1066, 583, 1067, 574, 1085, 574, 1085, 583' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1065, 606, 1066, 596, 1084, 597, 1085, 606' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1064, 628, 1064, 619, 1084, 620, 1083, 628' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1063, 650, 1063, 640, 1083, 640, 1082, 651' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1096, 565, 1096, 556, 1118, 556, 1117, 565' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1096, 585, 1095, 577, 1116, 577, 1115, 588' %>
        <%= tag :area, title: 'Провиантские магазины', shape: :poly, coords: '1094, 612, 1095, 602, 1113, 601, 1114, 614' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '479, 877, 503, 826, 525, 815, 544, 816, 542, 883' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '567, 845, 567, 817, 579, 817, 603, 833, 602, 847' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '573, 887, 573, 867, 603, 864, 605, 853, 642, 854, 644, 887' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '44, 709, 25, 687, 41, 673, 49, 683, 54, 678, 66, 691' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '25, 687, 41, 673, 49, 683, 47, 668' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '30, 722, 60, 697, 94, 721, 97, 741, 117, 764, 105, 777, 60, 748' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '118, 764, 108, 753, 119, 744, 129, 755' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '125, 750, 129, 745, 133, 750, 128, 755' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '120, 739, 122, 732, 137, 738, 134, 744' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '129, 765, 126, 761, 130, 758, 133, 762' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '167, 815, 158, 803, 163, 800, 172, 811' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '1131, 873, 1108, 858, 1117, 846, 1141, 821, 1158, 834' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '1151, 803, 1123, 780, 1134, 768, 1149, 780, 1151, 779, 1163, 788' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '1140, 891, 1172, 834, 1198, 850, 1175, 892' %>
        <%= tag :area, title: 'Обывательское строение', shape: :poly, coords: '1185, 808, 1203, 775, 1226, 787, 1210, 819' %>
        <%= tag :area, title: 'Старый ретраншемент', shape: :poly, coords: '255, 880, 194, 783, 276, 743, 282, 750, 206, 787, 265, 881' %>
        <%= tag :area, title: 'Бастион Цареборисовский', shape: :poly, coords: '377, 771, 385, 758, 482, 762, 475, 772' %>
        <%= tag :area, title: 'Ворота Цареборисовские', shape: :poly, coords: '359, 738, 363, 728, 458, 729, 449, 740' %>
        <%= tag :area, title: 'Бастион Крымский', shape: :poly, coords: '148, 390, 156, 379, 240, 372, 235, 392' %>
        <%= tag :area, title: 'Бастион Торский', shape: :poly, coords: '580, 258, 587, 246, 670, 246, 663, 260' %>
        <%= tag :area, title: 'Ворота Крымские', shape: :poly, coords: '827, 255, 831, 247, 904, 248, 898, 260' %>
        <%= tag :area, title: 'Бастион Высокий ???', shape: :poly, coords: '1072, 262, 1081, 251, 1146, 256, 1141, 265' %>
        <%= tag :area, title: 'Редант Донецкий', shape: :poly, coords: '1096, 656, 1091, 635, 1118, 618, 1127, 630' %>
        <%= tag :area, title: 'Бастион Донецкий', shape: :poly, coords: '995, 775, 1003, 763, 1064, 764, 1057, 776' %>
        <%= tag :area, title: 'Ворота ???', shape: :poly, coords: '759, 795, 759, 777, 761, 777, 761, 767, 765, 767, 765, 776, 766, 776, 766, 795' %>
        <%= tag :area, title: 'Ворота ???', shape: :poly, coords: '766, 767, 768, 759, 837, 761, 833, 770' %>
      </map>
      <map name="map-1942">
        <%= tag :area, shape: :poly, alt: :Probe, coords: '605, 483, 626, 483, 624, 509, 632, 510, 631, 524, 614, 524, 615, 523, 600, 522, 601, 508, 604, 509', title: "Кінотеатр 'Едісон'" %>
        <%= tag :area, shape: :poly, alt: :Probe, coords: '249, 394, 368, 372, 370, 416, 365, 427, 259, 432', title: "Обывательское\nстроение" %>
        <%= tag :area, shape: :poly, alt: :Probe, coords: '763, 512, 766, 510, 769, 509, 773, 510, 774, 507, 776, 504, 783, 505, 786, 507, 785, 511, 790, 511, 793, 514, 793, 522, 789, 525, 783, 526, 782, 529, 779, 532, 773, 531, 770, 528, 771, 523, 765, 523, 762, 520', title: 'Преображенський собор.' %>
      </map>
    </div>
    <span class="cd-handle"></span>
  </figure>
</body>
