
  <div class="wrapper">
    <div class="header">
      <%= form_tag posts_path, :method => "get", id: "search-form" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag "Search" %>
      <% end %>

      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <%= render @posts %>
      <% end %>
      <ul id="navbar">
        <li><a href="#">Головна</a></li>
        <li><a href="#">Статті</a></li>
        <li><a href="#">Галерея</a></li>
        <li><a href="#">Вхід</a>
          <ul>
            <li><a href="#">Редагувати профіль</a></li>
            <li><a href="#">Видалити профіль</a></li>
            <li><a href="#">Вийти</a></li>
          </ul>
        </li>
        <li><a href="#">Про нас</a></li>
      </ul>
    </div>
    <div class="left_column"></div>
    <div class="right_column"></div>
    <div class="footer">
    
  </div>
</div>
